<div class="relative flex flex-col items-center">
  <div class="w-52 h-52 bg-gray-200 rounded-md">
    <img
      [src]="
        album.images[0].url != null
          ? album.images[0].url
          : 'assets/music_placeholder.png'
      "
      [alt]="album.name"
      class="object-cover w-full h-full rounded-md"
    />
    <button
      *ngIf="album.added_to_collection == true"
      class="absolute top-0 right-0 p-2 rounded-25 bg-green-500 hover:bg-red-500 focus:outline-none transition-colors"
      (click)="removeFromFavorites()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4 m-auto"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 6v6m0 0v6m0-6h6m-6 0H6"
        />
      </svg>
    </button>
    <button
      *ngIf="album.added_to_collection == false"
      class="absolute top-0 right-0 p-2 rounded-25 bg-gray-300 hover:bg-green-500 focus:outline-none transition-colors"
      (click)="addToFavorites()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4 m-auto"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 6v6m0 0v6m0-6h6m-6 0H6"
        />
      </svg>
    </button>
  </div>
  <div class="mt-2 text-black text-center">
    {{ album.name != "" ? album.name : "undefined" }}
  </div>
  <div class="mt-1 text-gray-500 text-center">{{ album.artists[0].name }}</div>
</div>
