<main class="container mx-auto py-12">
  <div class="text-center">
    <h1 class="text-4xl font-bold text-gray-900">Welcome to VinylVault!</h1>
    <p class="mt-2 text-lg text-gray-700">Discover the possibilities</p>
  </div>

  <div class="mt-12 grid gap-8 md:grid-cols-2 lg:grid-cols-3">
    <div class="bg-white shadow-lg rounded-lg p-6">
      <h2 class="text-xl font-semibold text-gray-900">
        Album Search Functionality
      </h2>
      <p class="mt-2 text-gray-700">
        Easily search for your favorite albums and discover new music.
      </p>
    </div>
    <div class="bg-white shadow-lg rounded-lg p-6">
      <h2 class="text-xl font-semibold text-gray-900">Spotify Integration</h2>
      <p class="mt-2 text-gray-700">
        Seamlessly integrate with Spotify to access a vast library of music.
      </p>
    </div>
    <div class="bg-white shadow-lg rounded-lg p-6">
      <h2 class="text-xl font-semibold text-gray-900">Favorite Albums</h2>
      <p class="mt-2 text-gray-700">
        Store and manage all your favorite albums in one place.
      </p>
    </div>
  </div>

  <div class="mt-12 text-center">
    <p class="text-gray-700">Ready to get started?</p>
    <ng-container *ngIf="!isLoggedIn()">
      <a
        href="/login"
        class="mt-4 mx-2 inline-block px-6 py-3 rounded-md bg-blue-500 text-white font-semibold hover:bg-blue-600 transition-colors duration-300"
        >Login</a
      >
      <a
        href="/register"
        class="mt-4 mx-2 inline-block px-6 py-3 rounded-xl bg-gray-300 text-gray-700 font-semibold hover:bg-gray-400 transition-colors duration-300"
        >Register</a
      >
    </ng-container>
    <ng-container *ngIf="isLoggedIn()">
      <a
        href="/search"
        class="mt-4 mx-2 inline-block px-6 py-3 rounded-md bg-blue-500 text-white font-semibold hover:bg-blue-600 transition-colors duration-300"
        >Search</a
      >
      <a
        href="/collection"
        class="mt-4 mx-2 inline-block px-6 py-3 rounded-md bg-gray-300 text-gray-700 font-semibold hover:bg-gray-400 transition-colors duration-300"
        >Collection</a
      >
    </ng-container>
  </div>
</main>
